body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    background-color: rgb(199, 199, 199);
    height: 650px;
    width: 400px;
    border-radius: 10px 10px 0 0;
    border: 2px black solid;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calc-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    padding: 10px 25px 10px 25px;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px black solid;
}

.calc-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    flex: 1;
    padding: 25px 50px 25px 50px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 70px;
    background-color: green;
    font-size: x-large;
    color: rgb(50, 209, 76);
    margin: 25px 0px;
    border-radius: 5px;
    border: 2px black solid;
}

.calc-row {
    display: flex;
    gap: 15px;
}

button {
    flex: 1 1 60px;
    height: 60px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    cursor: pointer;
    border: 2px black solid;
}

button:hover {
    background-color: rgb(158, 156, 156);
}

button:active {
    background-color: rgb(134, 133, 133);
}

#ac, #zero {
    flex: 1 1 142.5px;
}
